.alert{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 50%;
    height: 40px;
    cursor: pointer;
    background-color: #f7c6c2;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    color: rgb(255, 0, 0);
}
