*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Stranger things';
    src: url('./font/Benguiat\ Bold.ttf');
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(15, 0, 17);
}

@media only screen and (max-width: 1568px) {
    main{
        height: 100%;
    }
}