*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Stranger things';
    src: url('./font/Benguiat\ Bold.ttf');
}

#root{
    height: 100vh;
}
main{
    background-color: rgb(221, 221, 221);
}